Hello,
<br/>
We have received your request to reset your password to the Survey Portal.  If you submitted this request, please click 
<br/>
<a href='${link}'>${link}</a>
<br/>
to reset your password.
<br/>
<br/>
If you did not submit this request, please forward this email to Support@datacert.com.
<br/>
<br/>
Thank you,<br/>
Support, Datacert